<div class="container-fluid subCategory">
  <div *ngFor="let subCategory of subCategories">
    <h2>{{subCategory.title}}</h2>
    <app-checkbox  *ngFor="let course of subCategory.courses"
                  [courseName]="course.name"
                  (selectCourse)="course.selected"
                  [selected]="course.selected"
    ></app-checkbox>
  </div>
</div>
<div class="container-fluid">
  <a routerLink="../trainer-assignment" class="btn btn-primary justify-content-end" (click)="submit()" disabled="true">Dalej</a>
</div>

