.subCategory{
  display: flex;
  flex-direction: row;
  gap: 3em;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
app-checkbox{
  margin-top: 3em;
}
a.btn-primary{
  display: block;
  width: 100%;
  padding: .5em;
  text-decoration: none;
  text-align: right;
  margin: 0 auto;
  box-sizing: border-box;;
  border-radius: .3em;
}
