<nav id="nav-container" class="navbar navbar-expand-lg px-5">
  <a id="logo" class="nav-link navbar-brand" routerLink="home-page"><img src="assets/logo-inqoo.png" alt="logo"></a>
  <button class="navbar-toggler text-light border-light" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarToggler" aria-controls="collapseExample"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">Menu</button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <ul class="nav">
      <li class="nav-item" *ngFor="let link of routes">
        <a class="nav-link" routerLink={{link.route}} routerLinkActive="active">{{link.label}}</a>
      </li>
    </ul>
  </div>
</nav>
