.form-container{
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-content: flex-end;
  padding:1em 2em;
  .mail-form{
    gap: 1em;
    display: flex;
    justify-content: center;
    .form-label{
      display: none;
    }
    .form-input{
      border-radius: 5px;
      border: none;
      width: 40%;
      box-shadow: 0 0  5px grey;
    }
  }
  .form-error{
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    p{
      margin-bottom: 0;
      margin-right: 10%;
    }
  }
}


