<div class="mail-form">
  <label >Email:</label>
<!--  <input type="email" name="email" class="form-control"  [class.is-invalid] = "email.get('userEmail').invalid && email.get('userEmail').touched" formControlName="userEmail">-->
<!--  <div *ngIf="(getUserEmail.invalid && getUserEmail.touched) || getUserEmail.dirty">-->
<!--    <small *ngIf="getUserEmail.errors?.['required']" class="text-danger">Primary email is required</small>-->
<!--    <small *ngIf="getUserEmail.errors?.['email']" class="text-danger">Please provide a valid email address</small>-->
<!--  </div>-->
  <button type="submit" value="submit">Submit</button>
</div>
