
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 4em;
  margin-top: 3em;
  margin-bottom: 20px;
}
//.card1{
//  background-image: url("src/assets/card1.jpg");
//}
//.card2{
//  background-image: url("src/assets/card2.png");
//}
//.card3{
//  background-image: url("src/assets/card3.jpg");
//}
//.card4{
//  background-image: url("src/assets/card4.jpg");
//}
//.card1:hover, .card2:hover, .card3:hover, .card4:hover{
//  transform: scale(1.1);
//}
