.card {
  width: 18rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 1px blue;
}
.card:hover{
  transform: scale(1.1);
}




