.card {
  width: 70vh;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  box-shadow: 0 0 1px blue;
  background-color: rgba(0,0,0,0);
  background-size: auto;
  background-position: top;
  overflow: hidden;

}
//.card:hover{
//  transform: scale(1.1);
//}




